In [1]:
#pip install yahoofinancials # if package is not installed, please uncomment to install
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from yahoofinancials import YahooFinancials

In [106]:
# select asset class, time period, frequancy 
assets = ['^IRX','SPY', 'QQQ', 'VWO','EWC','IDV']
yahoo_financials = YahooFinancials(assets)
data = yahoo_financials.get_historical_price_data(start_date='2006-04-01', 
                                                  end_date='2021-06-02', 
                                                  time_interval='monthly')

In [110]:
# format risk free rate
T3M_df = pd.DataFrame(data['^IRX']['prices'])
T3M_df = T3M_df.drop('date', axis=1).set_index('formatted_date')
T3M_df['Mth_Rf'] = T3M_df['adjclose']/100/12
T3M_df = T3M_df.fillna(method='ffill')

# format asset returns
df=pd.DataFrame(index=T3M_df.index)
df['Mth_Rf']=T3M_df['Mth_Rf']

for asset in assets:
    if asset!='^IRX':
        df[asset+'_P']=pd.DataFrame(data[asset]['prices'])[['adjclose','formatted_date']].set_index('formatted_date')
        df[asset+'_R']=df[asset+'_P'].pct_change(1)

In [112]:
df

,Mth_Rf,SPY_P,SPY_R,QQQ_P,QQQ_R,VWO_P,VWO_R,EWC_P,EWC_R,IDV_P,IDV_R
formatted_date,,,,,,,,,,,
2006-04-01,0.003875,96.974480,NaN,36.847321,NaN,24.612864,NaN,18.373472,NaN,NaN,NaN
2006-05-01,0.003929,94.053520,-0.030121,34.179520,-0.072401,21.833601,-0.112919,17.959595,-0.022526,NaN,NaN
2006-06-01,0.004050,93.883881,-0.001804,34.135506,-0.001288,21.813240,-0.000933,17.553099,-0.022634,NaN,NaN
2006-07-01,0.004112,94.721146,0.008918,32.687096,-0.042431,22.217070,0.018513,17.575268,0.001263,NaN,NaN
2006-08-01,0.004088,96.788200,0.021823,34.246593,0.047710,22.546230,0.014816,18.292179,0.040791,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2021-02-01,0.000029,377.882019,0.027805,313.380219,-0.001335,52.148872,0.015673,31.972746,0.051307,29.973904,0.043346
2021-03-01,0.000011,393.747986,0.041987,318.358154,0.015885,51.711727,-0.008383,33.841217,0.058439,30.625721,0.021746
2021-04-01,0.000003,415.939209,0.056359,337.598389,0.060436,52.703548,0.019180,35.391655,0.045815,32.000450,0.044888
2021-05-01,0.000007,418.670288,0.006566,333.543091,-0.012012,53.598854,0.016988,37.637794,0.063465,33.175411,0.036717
2021-06-01,0.000033,426.664124,0.019093,354.019318,0.061390,54.026611,0.007981,37.041477,-0.015844,31.990578,-0.035714

In [113]:
# construct rebalance date
RBDay = pd.date_range(start='2016-04-01', periods=11, freq='2QS')
RBDay

DatetimeIndex(['2016-04-01', '2016-10-01', '2017-04-01', '2017-10-01',
               '2018-04-01', '2018-10-01', '2019-04-01', '2019-10-01',
               '2020-04-01', '2020-10-01', '2021-04-01'],
              dtype='datetime64[ns]', freq='2QS-JAN')